<template name="new_team_modal">
  <div class="ui new_team modal transition">
    <i class="close icon"></i>
    <div class="header">
      New Team
    </div>
    <div class="content">
      <div class="ui form">
        <div class="field">
          <label>Team Name</label>
          <div class="ui labeled input">
            <input type="text" id="team_name">
            <div class="ui corner label">
              <i class="icon asterisk"></i>
            </div>
          </div>
        </div>
        <div class="field">
          <label>Add Members</label>
          <input type="text" id="team_member">
          <div class="ui vertical menu fluid" style="margin-top:-2px; display:none;" id="return-members">
          </div>
        </div>
        <div id="selected-members"></div>
      </div>
    </div>
    <div class="actions">
      <div class="ui black button">
        Cancel
      </div>
      <div class="ui positive right labeled icon button new_team_submit">
        Add Team
        <i class="checkmark icon"></i>
      </div>
    </div>
  </div>
</template>