<template name="404">
  <div class="container" style="padding-top:20px;">
    <div class="ui three column grid">
      <div class="top aligned row">
        <div class="column">
        </div>
        <div class="column">
          <div class="ui orange inverted center aligned segment">
            <div class="ui icon header" style="text-align:center">
              <img class="ui circular medium image" src="/images/gal-macaulay-culkin-jpg.jpg">OH NO!
              <div class="sub header">That page doesn't exist!</div>
            </div>
          </div>
        </div>
        <div class="column">
        </div>
      </div>
    </div>
  </div>
</template>