<template name="navigation">
  <div class="ui one column grid">
    <div class="ui blue tiered inverted menu">
      <div class="container">
        <div class="item" style="padding-left:0px;">
          <img src="/logo.png" height="25" style="margin-top:-5px; margin-bottom:-5px" />
          <!--<span class="ui teal label">New</span>-->
        </div>
        {{#if currentUser}}
        <a class="item{{ getActive 'home' }}" href="/">
          <i class="home icon"></i> Home
        </a>
        <a class="item{{ getActive 'teams' }}" href="/teams">
          <i class="icon sitemap"></i> Teams
        </a>

        <div class="right menu">
          <div class="ui dropdown item">
            <img class="circular ui image" src="{{currentUser.profile.avatar_url}}" height="30" width="30" style="float:left; margin-top:-7px; margin-bottom:-10px; margin-right:0.5em" />
            {{currentUser.profile.name}} <i class="icon dropdown"></i>
            <div class="menu">
              <a class="item" id="logout_button">
                <i class="exclamation icon"></i> Logout
              </a>
            </div>
          </div>
        </div>
        {{else}}
        <div class="right menu">
          <a class="item" id="login_button">
            <i class="user icon"></i> Login
          </a>
        </div>
        {{/if}}
      </div>
      <div class="ui sub menu">
        <div class="container">
          {{yield 'sub_menu'}}
          <div class="right menu">
            {{> user_sub_menu}}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>