
<template name="tracker">
  <div class="container">
    <div class="ui three column grid">
      <div class="column">
        <div class="ui segment">
          <div class="ui top attached teal label">
            <i class="circular inverted teal users icon"></i> Current 
          </div>
          <div class="ui comments">
            
          </div>
        </div>
      </div>
      <div class="column">
        <div class="ui segment">
          <div class="ui top attached green label">
            <i class="circular inverted green heart icon"></i> Backlog 
          </div>
          <div class="ui comments">
            
          </div>
        </div>
      </div>
      <div class="column">
        <div class="ui segment">
          <div class="ui top attached red label">
            <i class="circular inverted red glass icon"></i> Cooler 

            <div class="ui mini inverted basic test button add-button" style="float:right">
              Add
            </div>
          </div>
          <div class="ui comments">
            
          </div>
        </div>
      </div>
    </div>
  </div>
</template>