<template name="tracker">
  <div class="container">
    <div class="ui three column grid">
      <div class="column narrow">
        <div class="ui teal inverted vertical menu fluid">
          <div class="header item">
            <i class="teal users icon" style="float:left; margin-left:-5px; margin-right:10px"></i> Current
          </div>
          <div id="current">
            {{#each current}}
              {{>tracker_item}}
            {{/each}}
          </div>
        </div>
      </div>
      <div class="column narrow">
        <div class="ui green inverted vertical menu fluid">
          <div class="header item">
            <i class="green heart icon" style="float:left; margin-left:-5px; margin-right:10px"></i> Backlog
          </div>
          <div id="#backlog">
            {{#each backlog}}
              <div class="item">{{name}}</div>
            {{/each}}
          </div>
        </div>
      </div>
      <div class="column narrow">
        <div class="ui red inverted vertical menu fluid">
          <div class="header item">
            <i class="red beer icon" style="float:left; margin-left:-5px; margin-right:10px"></i> Cooler
            <a class="ui inverted mini basic test button add-button" style="float:right; margin-top:-6px">
              Add
            </a>
          </div>
          <div id="cooler">
            {{#each cooler}}
              {{>tracker_item}}
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>